$header-height: 110px;

.page-enter-active, .page-leave-active { transition: opacity .1s; }
.page-enter, .page-leave-active { opacity: 0; }

html {
    overflow: hidden !important;
}

.site-header-component {
    height: $header-height;
}

// Use this in great need to understand why some things have bounding boxes/etc
// * {
//     background: #000 !important;
//     color: #0f0 !important;
//     outline: solid #f00 1px !important;
//   }